SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/bin/Debug/BUS.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/bin/Debug/BUS.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/bin/Debug/DAO.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/bin/Debug/DAO.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/bin/Debug/QuanLyKhoCauHoiTracNghiem.exe
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/bin/Debug/QuanLyKhoCauHoiTracNghiem.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/bin/Debug/QuanLyKhoCauHoiTracNghiem.vshost.exe
SourceCode/QuanLyKhoCauHoiTracNghiem/BUS/bin/Debug/BUS.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/BUS/bin/Debug/BUS.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/BUS/bin/Debug/DAO.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/BUS/bin/Debug/DAO.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/BUS/bin/Debug/DTO.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/BUS/bin/Debug/DTO.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/BUS/obj/Debug/BUS.csproj.FileListAbsolute.txt
SourceCode/QuanLyKhoCauHoiTracNghiem/BUS/obj/Debug/BUS.csprojResolveAssemblyReference.cache
SourceCode/QuanLyKhoCauHoiTracNghiem/BUS/obj/Debug/BUS.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/BUS/obj/Debug/BUS.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/BUS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SourceCode/QuanLyKhoCauHoiTracNghiem/DAO/bin/Debug/DAO.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/DAO/bin/Debug/DAO.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/DAO/bin/Debug/DTO.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/DAO/bin/Debug/DTO.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/DAO/obj/Debug/DAO.csproj.FileListAbsolute.txt
SourceCode/QuanLyKhoCauHoiTracNghiem/DAO/obj/Debug/DAO.csprojResolveAssemblyReference.cache
SourceCode/QuanLyKhoCauHoiTracNghiem/DAO/obj/Debug/DAO.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/DAO/obj/Debug/DAO.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/DAO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SourceCode/QuanLyKhoCauHoiTracNghiem/DTO/bin/Debug/DTO.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/DTO/bin/Debug/DTO.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/DTO/obj/Debug/DTO.csproj.FileListAbsolute.txt
SourceCode/QuanLyKhoCauHoiTracNghiem/DTO/obj/Debug/DTO.csprojResolveAssemblyReference.cache
SourceCode/QuanLyKhoCauHoiTracNghiem/DTO/obj/Debug/DTO.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/DTO/obj/Debug/DTO.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/DTO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/bin/Debug/DTO.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/bin/Debug/DTO.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/bin
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/bin/Debug/Utilities.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj/x86/Debug/QuanLyKhoCauHoiTracNghiem.FrmDangNhap.resources
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj/x86/Debug/QuanLyKhoCauHoiTracNghiem.FrmMain.resources
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj/x86/Debug/QuanLyKhoCauHoiTracNghiem.FrmQuanLyDeThi.resources
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj/x86/Debug/QuanLyKhoCauHoiTracNghiem.Properties.Resources.resources
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj/x86/Debug/QuanLyKhoCauHoiTracNghiem.csproj.FileListAbsolute.txt
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj/x86/Debug/QuanLyKhoCauHoiTracNghiem.csproj.GenerateResource.Cache
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj/x86/Debug/QuanLyKhoCauHoiTracNghiem.csprojResolveAssemblyReference.cache
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj/x86/Debug/QuanLyKhoCauHoiTracNghiem.exe
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj/x86/Debug/QuanLyKhoCauHoiTracNghiem.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/Utilities/bin/Debug/Utilities.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/Utilities/bin/Debug/Utilities.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/Utilities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SourceCode/QuanLyKhoCauHoiTracNghiem/Utilities/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SourceCode/QuanLyKhoCauHoiTracNghiem/Utilities/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SourceCode/QuanLyKhoCauHoiTracNghiem/Utilities/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SourceCode/QuanLyKhoCauHoiTracNghiem/Utilities/obj/Debug/Utilities.csprojResolveAssemblyReference.cache
SourceCode/QuanLyKhoCauHoiTracNghiem/Utilities/obj/Debug/Utilities.dll
SourceCode/QuanLyKhoCauHoiTracNghiem/Utilities/obj/Debug/Utilities.pdb
SourceCode/QuanLyKhoCauHoiTracNghiem/Utilities/obj/Debug/Utilities.csproj.FileListAbsolute.txt
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj/x86/Debug/QuanLyKhoCauHoiTracNghiem.FrmQuanLyCauHoiTheoBoDeThi.resources
SourceCode/QuanLyKhoCauHoiTracNghiem/.vs
SourceCode/QuanLyKhoCauHoiTracNghiem/QuanLyKhoCauHoiTracNghiem/obj

SourceCode/QuanLyKhoCauHoiTracNghiem/BUS/bin
SourceCode/QuanLyKhoCauHoiTracNghiem/BUS/obj

SourceCode/QuanLyKhoCauHoiTracNghiem/DAO/bin
SourceCode/QuanLyKhoCauHoiTracNghiem/DAO/obj

SourceCode/QuanLyKhoCauHoiTracNghiem/DTO/bin
SourceCode/QuanLyKhoCauHoiTracNghiem/DTO/obj

SourceCode/QuanLyKhoCauHoiTracNghiem/Utilities/bin
SourceCode/QuanLyKhoCauHoiTracNghiem/Utilities/obj

QuanLyTracNghiem\SourceCode\QuanLyKhoCauHoiTracNghiem\.vs