CREATE PROCEDURE sp_LayDanhSachLGiaoVienQuanLy
AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			SELECT * FROM NGUOIDUNG WHERE MALOAI=2
		END TRY
		BEGIN CATCH
			ROLLBACK TRAN
		END CATCH
	COMMIT TRAN
END
